# Environment file
.env

# Depedency files
/vendor
composer.lock

# Tests
phpunit.xml
.phpunit.cache

# IDE config folder
/.idea

# OS files
.DS_Store

#exemple of web page

example-web-app-REST-API-architecture.svg